<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body class="text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto navbar-expand-lg">
              <li class="nav-item">
                <a class="nav-link active navbar-brand" href="/"><h2>Home</h2></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-brand" href="{{ url_for('speakers') }}"><h2>Speakers</h2></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-brand" href="{{ url_for('conversations') }}"><h2>Conversations</h2></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-brand" href="{{ url_for('howto') }}"><h2>How-To</h2></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-brand" href="https://shibboleth.csuchico.edu/idp/profile/cas/login?execution=e1s1"><h2>CSUC</h2></a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
      <hr />
      
    {% block body %}{% endblock %}
</body>
</html>